{
  "name": "{{NPM_PACKAGE_NAME}}",
  "version": "0.1.0-beta",
  "private": true,
  "type": "module",
  "scripts": {
    "start": "node module.mjs"
  },
  "dependencies": {
    "@sharpclaw/module-host": "0.1.0-beta"
  }
}
